In [1]:
#import necessary library

import pandas as pd
import numpy as np
import random as rnd     

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, roc_curve, roc_auc_score

from sklearn.preprocessing import StandardScaler
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer,KNNImputer
from sklearn.pipeline import FeatureUnion,make_pipeline,Pipeline
from sklearn.compose import ColumnTransformer
import warnings
warnings.filterwarnings('ignore')

https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate from google

In [2]:
#this is for population_literacy_area
data_pop_lit_area = pd.read_csv(r'https://raw.githubusercontent.com/Jyotsnajha12345/Datatrained_Academy-/main/Capstone_Project/POPULATION_AREA_LITERACY_DATA.csv')
data_pop_lit_area.head()

,State/UT,Population,Increase,Area(Km2),Density,Sex-Ratio,Literacy
0,UTTAR PRADESH,"19,98,12,341",20.23%,"2,40,928",829,912,67.68
1,MAHARASHTRA,"11,23,74,333",15.99%,"3,07,713",365,929,82.34
2,BIHAR,"10,40,99,452",25.42%,"94,163","1,106",918,61.80
3,WEST BENGAL,"9,12,76,115",13.84%,"88,752","1,028",950,76.26
4,ANDHRA PRADESH,"8,45,80,777",10.98%,"2,75,045",308,993,67.02

#link = https://web.archive.org/web/20140104213453/http://www.shareacafe.com/crime-rates-in-indian-state-wise/
#this is for statewise crime rate
downloaded from google

In [14]:
url = 'https://raw.githubusercontent.com/Jyotsnajha12345/Datatrained_Academy-/main/Capstone_Project/Crime_rate_statewise.csv'
data_crime = pd.read_csv(url, encoding = 'latin1')  
data_crime.head()

,State/UT,Murder,Attempt To Commit Murder,C.H. Not,Rape,Kidnapping & Abduction,Dacoity,Preparation And Assembly ForDacoity,Total Crime
0,ANDHRA PRADESH,2808,2229,171,1442,2154,126,7,8937.0
1,ARUNACHAL PRADESH,65,29,2,42,93,13,0,244.0
2,ASSAM,1303,504,48,110%0,3764,305,4,5928.0
3,BIHAR,3198,3327,348,934,4268,556,105,12736.0
4,CHHATTISGARH,1110,747,28,1053,472,68,7,3485.0

#link = https://www.macrotrends.net/countries/IND/india/crime-rate-statistics
#this is for year on year crime rate
downloaded from google

In [15]:
data_years_crime = pd.read_csv(r'https://raw.githubusercontent.com/Jyotsnajha12345/Datatrained_Academy-/main/Capstone_Project/year%20on%20year%20crime%20rate.csv')
data_years_crime.head()

   Year  Per 100K Population Annual % Change in crime rate
0  2021                 2.94                         0.86%
1  2020                 2.91                        -0.53%
2  2019                 2.93                        -2.24%
3  2018                 2.99                        -1.16%
4  2017                 3.03                        -4.19%